@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --primary-color: #4f46e5;
    --secondary-color: #d1d5db;
    --bg-color-light: #f9fafb;
    --text-color-light: #1f2937;
  }
  .dark {
    --bg-color-dark: #1f2937;
    --text-color-dark: #e5e7eb; /* Updated to a lighter color for better contrast */
  }
  /* Applying the variables to body */
  body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
  }
  .dark body {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
}

.markdown-preview h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.markdown-preview h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.markdown-preview p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.markdown-preview pre {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
}

.markdown-preview code {
  background-color: #eaeaea;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.markdown-preview a {
  color: #0366d6;
  text-decoration: underline;
}
